/* Custom CSS */
.navbar-brand {
  font-size: 50PX;
}
body {
    padding-top: 70px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
  }
.lead {
  font-size: 30px;
  font-weight: bold;
  }
header {
    margin-bottom: 30px;
  }
section {
    margin-bottom: 30px;
  }
.carousel-item {
    height: 400px;
  }
form {
    max-width: 500px;
    margin: 0 auto;
  }
iframe {
    max-width: 900px;
  }
img-thumbnail {
  width: 500px;
  }

a {
margin-left: 75px;
}